[project]
name = "repossessed-assets"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "aiohttp>=3.13.2",
    "prefect>=3.5.0",
    "requests>=2.32.5",
]
